body{
    font-family: 'Montserrat', sans-serif;
  
    .socials{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 165px;
  
      .socials-icons{
        width: 500px;
        display: flex;
        justify-content: space-between;
  
        i{
          color: $socialIcn-color;
          opacity: $socialIcn-opacity;
          transform: scale(2.3);
        }
      }
  
      .socials-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 540px;
  
        h2{
          width: 130px;
          height: 24px;
          margin-bottom: 10px;
          text-align: left;
          font: normal normal 600 20px/24px Montserrat;
          color: #333333;
        }
  
        p{
          height: 38px;
          width: 394px;
          text-align: left;
          font: normal normal normal 14px/20px Montserrat;
          color: #86878B;
        }
  
      }
  
  
    }
  
    .features-panel1{
      display: flex;
      justify-content: center;
      align-items: center;
      background: $featuresPanel1Bg-image;
      background-position: 5% 70%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      padding: 60px;
  
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.42;
      }
  
      .features-btn{
        display: flex;
        flex-direction: column;
  
        .selected{
          background: $featuresBtnSelected-color;
        }
  
        button{
          width: 100px;
          height: 100px;
          margin: 20px;
          text-align: center;
          font: normal normal 600 14px/20px Montserrat;
          color: #FFFFFF;
          background: transparent url('../images/tab_3_button_u87_mouseover.png') 0% 0% no-repeat padding-box;
          background-position: center;
          box-shadow: 0px 3px 6px #00000029;
          border: none;
          transition: 0.3s;
          z-index: 1;
          
          &:hover{
            background: $featuresBtnHover-color;
          }
  
          span{
            display: inline-block;
            transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
            
          }
        }
      }
  
      .features-content{
        display: none;
        animation: move 1s;
  
        .features-text{
          z-index: 1;
          margin: 0 40px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          color: $featuresPanel1Txt-color;
    
          h2{
            width: 509px;
            margin-bottom: 20px;
            text-align: left;
            font: normal normal 600 36px/40px Montserrat;
          }
    
          article{
            width: 517px;
            text-align: left;
            font: normal normal normal 14px/20px Montserrat;
            margin-bottom: 10px;
          }
        }
    
        .features-img{
          width: 400px;
          z-index: 1;
        }
  
  
      }
    }
  
    .features-panel2{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background: $featuresPanel2Bg-color;
      padding: 60px;
  
      img{
        width: 389px;
        height: 169px;
      }
  
      .features2-text{
        width: 500px;
        display: flex;
        flex-direction: column;
  
        h2{
          width: 350px;
          margin-bottom: 20px;
          text-align: left;
          font: normal normal 600 30px/43px Montserrat;
          color: $featuresPanel2Txt-color;
        }
  
        .divider-orange{
          width: 200px;
          height: 2px;
          background: $featuresPanel2Divider-color;
        }
  
        article{
          width: 500px;
          margin-top: 20px;
          margin-bottom: 40px;
          font: normal normal normal 14px/20px Montserrat;
          color: $featuresPanel2Txt-color;
        }
  
        .f-text{
          display: flex;
          flex-direction: column;
  
          .f-textInner{
            width: 500px;
            margin-bottom: 40px;
  
            i{
              color: $featuresPanel2Icn-color;
            }
  
            h3{
              width: 104px;
              height: 18px;
              font: normal normal 600 14px/17px Montserrat;
              color: $featuresPanel2Txt-color;
            }
  
            p{
              width: 470px;
              height: 38px;
              font: normal normal normal 14px/20px Montserrat;
              color: $featuresPanel2Txt-color;
            }
          }
  
          .rounded{
            float: left;
            width: 50px;
            height: 50px;
            margin: 0 20px 20px 0;
            background: $featuresPanel2Buble-color;
            border-radius: 100%;
            position: relative;
  
            i{
              transform: scale(1.5);
              position: absolute;
              top: 16px;
              left: 16px;
            }
          }
        }
  
      }
    }
  
    .process-panel{
      background: $processPanelBg-color;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 100px 60px;
  
      .divider-orange{
        width: 70px;
        height: 2px;
        background: $processPanelDivider-color;
      }
  
      .process-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        margin-bottom: 70px;
  
        h2{
          width: 644px;
          text-align: center;
          font: normal normal 600 36px/43px Montserrat;
          color: #212121;
        }
        p{
          width: 390px;
          text-align: left;
          font: normal normal normal 14px/20px Montserrat;
          color: #86878B;
        }
      }
  
      .process-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
  
        .process{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          width: 400px;
          height: 194px;
  
          p{
            width: 286px;
            text-align: center;
            font: normal normal normal 14px/20px Montserrat;
            color: $processTxt-color;
          }
  
          h2{
            width: 250px;
            text-align: center;
            font: normal normal normal 20px/24px Montserrat;
            color: $processHeader-color;
          }
  
          .rounded{
            width: 50px;
            height: 50px;
            background:none;
            border: 1px solid $processPanelBuble-color;
            border-radius: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i{
              color:$processPanelIcn-color;
              transform: scale(1.5);
            }
          }
        }
      }
    }
  
    .pricing-panel{
      background: $pricingPanelBg-color;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-evenly;
      padding: 60px;
  
      h2{
        height: 44px;
        text-align: center;
        font: normal normal 600 36px/43px Montserrat;
        color: $pricingPanelHeaderTxt-color;
      }
  
      p{
        height: 18px;
        text-align: center;
        font: normal normal normal 14px/20px Montserrat;
        color: $pricingPanelHeaderTxt-color;
      }
  
      .divider-green{
        background: $pricingPanelDivider-color;
        width: 64px;
        height: 2px;
        margin: 20px auto;
      }
  
      .pricing-plans{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        margin-top: 60px;
  
        .plan{
          width: 350px;
          margin: 20px;
  
  
          .divider{
            background: $pricingPlanDivider-color;
            padding: 5px;
          }
  
          .plan-head{
            background: $pricingPlanHeaderBg-color;
            padding: 20px;
            text-align: center;
            line-height: 50px;
            color: $pricingPlanHeaderTxt-color;
            border-radius: 5px 5px 0px 0px;
            
            h2{
              height: 60px;
              text-align: center;
              font: normal normal normal 20px/24px Montserrat;
              color: $pricingPlanHeaderTxt-color;
            }
  
            h3{
              font: normal normal normal 94px/24px Montserrat;
              margin: 20px 0;
  
              span{
                font-size: 30px;
              }
            }
  
            p{
              height: 18px;
              text-align: center;
              font: normal normal normal 14px/24px Montserrat;
              color: #FFFFFF;
              opacity: 0.5;
            }
          }
  
          .plan-bottom{
            background: $pricingPlanContentBg-color;
            padding: 0 20px;
            line-height: 30px;
            border-radius: 0px 0px 5px 5px;
            line-height: 40px;
            font-style: normal normal normal 14px/24px Montserrat;
            color: $pricingPlanContentTxt-color;
  
            ul{
              list-style: none;
            }
          }
          
        }
      }
  
    }
  
    .reviews-panel{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 60px;
  
      h1{
        text-align: center;
        font: normal normal 600 36px/43px Montserrat;
        color: #1C1C1C;
      }
  
      .divider-blue{
        width: 64px;
        height: 2px;
        background: $reviewsPanelDivider-color;
        margin: 30px auto;
      }
  
  
      .swiper {
        width: 100%;
        height: 320px;
  
        .swiper-pagination-bullet{
          background: white;
          border: 2px solid $reviewPagination-color;
        }
  
        .swiper-slide{
          display: flex;
          align-items: center;
          justify-content: center;
  
          .review{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            article{
              width: 230px;
              padding: 10px;
              color: $reviewTxt-color;
              font: normal normal normal 16px/22px Montserrat;
              text-align: left;
              background: $reviewBg-color;
              border-radius: 8px;
              position: relative;
    
              &::after{
                position: absolute;
                content: "";
                bottom: -30px;
                left: 15px;
                border: 20px solid transparent;
                border-top: 20px solid $reviewBg-color;
              }
            }
    
            .person{
              margin-top: 20px;
              display: flex;
              flex-direction: row;
  
              h3{
                font: normal normal normal 20px/24px Montserrat;
                color: #333333;
              }
  
              p{
                text-align: left;
                font: normal normal normal 14px/17px Montserrat;
                color: #86878B;
              }
  
              div{
                margin: 10px 0 0 10px;
              }
            }
          }
        }
      }
    }
  
    .contact-panel{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $contactPanelBg-color;
      text-align: center;
  
      h2{
        height: 44px;
        margin: 30px;
        text-align: center;
        font: normal normal 600 36px/43px Montserrat;
        color: $contactPanelHeadTxt-color;
      }
  
      p{
        height: 18px;
        font: normal normal normal 14px/20px Montserrat;
        color: $contactPanelHeadTxt-color;
      }
  
      .contact-form{
        margin: 0 auto;
        text-align: center;
  
        form{
          width: 390px;
          height: 330px;
          margin: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          box-shadow: 0px 5px 20px #00000029;
          border-radius: 8px;
          
      
          input{
            width: 250px;
            height: 20px;
            border: none;
            border-bottom: solid 1px black;
            opacity: 0.5;
          }
      
          button{
            padding: 15px 25px;
            background: $contactFormButton-color;
            border: none;
            border-radius: 5px;
          }
  
          .radio-btn{
            width: 65%;
            display:flex;
            flex-direction: row;
  
  
            input[type='radio']{
              appearance: none;
              width: 15px;
              height: 15px;
              margin-right: 5px;
              border: 3px solid $contactFormRadioBtn-color;
              border-radius: 100%;
              position: relative;
              opacity: 0.5;
              transition: 0.3s;
  
              &:checked{
                opacity: 1;
              }
  
              &:after{
                position: absolute;
                content: "";
                top: 2px;
                left: 2px;
                width: 0px;
                height: 0px;
                background-color: $contactFormRadioBtn-color;
                border-radius: 100%;
                transition: 0.3s;
                opacity: 0;
              }
  
              &:checked::after{
                opacity: 1;
                width: 5px;
                height: 5px;
              }
            }
  
            label{
              font-size: 0.7em;
              margin-right: 20px;
            }
            
          }
        }
      }
  
    }
  
    footer{
      background: $footerBg-color;
      opacity: 1;  
      padding: 40px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; 
      align-items: flex-end;
  
      p{
        height: 22px;
        text-align: left;
        font: normal normal normal 18px/14px Montserrat;
        color: #FFFFFF;
        opacity: $footerCopyrightTxt-opacity;
      }
  
      .socials-icons{
        width: 500px;
        display: flex;
        justify-content: space-between;
  
        i{
          transform: scale(1.5);
          color: $footerIcn-color;
        }
      }
    }
  
  }