// Header
$headerBg-image: url('../images/header.png');
$headerLogo: transparent url('../svgs/cheshire-county-hygiene-services.svg') 0% 0% no-repeat padding-box;
$headerH1-color: #FFFFFF;
$headerArticle-color: #FFFFFF;
$headerDivider-color: #FFFFFF;
$headerFormButton-color: #41D395;
$headerFormRadioBtn-color: #41D395;
//Socials
$socialIcn-color: #E27866;
$socialIcn-opacity: 0.65;
//FeaturesPanel-1
$featuresPanel1Bg-image: url('../images/featuresbg.png');
$featuresPanel1Txt-color: #FFFFFF;
$featuresBtnHover-color: #E27866;
$featuresBtnSelected-color: #E27866;
//FeaturesPanel-2
$featuresPanel2Bg-color: #1C1C1C;
$featuresPanel2Divider-color: #E27866;
$featuresPanel2Txt-color: #FFFFFF;
$featuresPanel2Icn-color: #FFFFFF;
$featuresPanel2Buble-color: #E27866;
//ProcessPanel
$processPanelBg-color: #FFFFFF;
$processPanelDivider-color: #E27866;
$processPanelIcn-color: #E27866;
$processPanelBuble-color: #E27866;
$processHeader-color: #333333;
$processTxt-color: #86878B;
//PricingPanel
$pricingPanelBg-color: #6696E2;
$pricingPanelDivider-color: #41D395;
$pricingPanelHeaderTxt-color: #FFFFFF;
$pricingPlanDivider-color: #41D395;
$pricingPlanHeaderBg-color: #303030;
$pricingPlanHeaderTxt-color: #FFFFFF;
$pricingPlanContentBg-color: #FFFFFF;
$pricingPlanContentTxt-color: #86878B;
//ReviewsPanel
$reviewsPanelDivider-color: #6696E2;
$reviewBg-color:  #6696E2;
$reviewTxt-color: #FFFFFF;
$reviewPagination-color: #E27866;
//ContactPanel
$contactPanelBg-color: #E27866;
$contactPanelHeadTxt-color: #FFFFFF;
$contactFormButton-color: #41D395;
$contactFormRadioBtn-color: #41D395;
//Footer
$footerBg-color: #1C1C1C;
$footerIcn-color: #E27866;
$footerCopyrightTxt-opacity: 0.5;